<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InternetBank">




	<test name="Test">

		<parameter name="browser" value="firefox" />
		<classes>
			<class name="com.inetbanking.TestCases.BaseClass" />
			<class name="com.inetbanking.TestCases.Login_Test001" />
		</classes>
	</test>
</suite> 
